bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
*.idea
*.idea*
encodings.xml
workspace.xml
.signature.p7s
FsLexYacc.Runtime.10.0.0.nupkg
FsLexYacc.*
Fm4FunParser.fs
Fm4FunParser.fsi
Fm4funLexer.fs
FSharp.Core.*